
/** Styling on all instances of a given element **/

body {
	font-family: Arial, sans-serif;
    	background-repeat:no-repeat;
	border: 0;
	height: 100%;
	margin: 0 0 40px; /* bottom = footer height */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

input {
	padding:3px;
	font-size: 12pt;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

/** Styling by named class **/

.container {
	position: relative;
	min-height: calc(100vh - 135px); /* 135 (85 + 50) height of head (or footer?) and margin-bottom of head...? */
	width: 1170px;
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
 	margin-left: auto
}

.holder {
	position: relative;
	width: 90%;
	min-height: calc(100vh - 135px); /* 135 (85 + 50) height of head (or footer?) and margin-bottom of head...? */
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-right: auto;
 	margin-left: auto;
 	margin-bottom: 45px;
}

.innerholder {
	float:left;
	width: 100%;
	padding-top:20px;
 	padding-bottom: 105px;	
}

.panel {
	background: #dee6f2; /* For browsers that do not support gradients */
	background: linear-gradient(#dee6f2,#c9d9f0); /* Standard syntax */
	float:left;
	width: 100%;
	padding:10px;
	box-sizing: border-box;
}

.clearit {
	clear: both;
}

/** form elements **/

.textareastyle {
 	width: 99.5%;
 	height: 140px;
}

.textareastylebig {
 	width: 99.5%;
 	height: 280px;
}

.button {
	padding: 4px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 12pt;
}

.button:hover {
	filter: brightness(90%);
}

.labelmid {
	float:left;
	width: 170px;
}

.listitem {
	float:left;
	clear:both;
	margin-top:10px;
}